<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <form action="/get-beer" enctype="multipart/form-data" method="post">
        <div class="box">
            <h2>Kasten Kapitän</h2>
            <div class="controls">
                <input type="text" list="dishes" autofocus name="dish" required>
                <button type="submit">Vamos!</button>
            </div>
            <datalist id="dishes">
                {% for dish in dishes %}
                    <option value="{{dish}}">{{dish}}</option>
                {% endfor %}
            </datalist>
            <div class="beers">
                {% for beer in beers %}
                    <div class="beer">{{beer["beer"]}}, Match-Score: {{beer["score"]}}%</div>
                {% endfor %}
            </div>
        </div>
    </form>

<div class="insult">bitte hol dir einen vernünftigfen bildschirm man</div>
</body>
</html>